 @charset "UTF-8";

/*SMALL CSS*/
/*ALL PAGES*/

footer{
	font-size: .8em;
}

.banner{
	font-size: .7em;
}

nav ul{
	margin-left: 6%;
	padding-left: 0;
	margin-top: -15px;
}

nav li{
	font-size: .8em;
	color: blue;
}

#danielle{
	display: none;
}

#smalldanielle{
	display: block;
	padding-bottom: 0;
	font-family: "pacifico", "blackjack", "Century Gothic";
	font-size: 2em;
	margin-top: 15px;
}


/*HOME*/
#hello{
	font-size: 7em;
}

#info{
	font-size: 1.3em;
	margin-left: 5%;
	width: 90%;
}

.teaser{
	font-size: 1em;
}

.more{
	margin-left: 75%;
}

/*ABOUT PAGE*/

.about{
	margin-left: 5%;
	width: 90%;
	font-size: 1em;
}

#aboutImage{
	width:50%;
	height: 50%;
}

/*RESUME PAGE*/

#resume-img{
	width: 90%;
	height: 90%;
}

#resume-wrapper{
	margin-left: 10%;
}

#resume-wrapper p{
	font-size: 1em;
}

/*PROJECTS PAGE*/

.project-p{
	font-size: 1em;
}

.pointer{
	font-size: 1.3em;
}

.project-h2{
	font-size: 1.4em;
}

#meimage{
	width: 85%;
	height: 85%;
}

/*CAPSTONE AND INTERNSHIP PAGEs*/

#capstone-soon, #internship-soon{
	font-size: 1em;
	width: 90%;
}

/*CONTACT PAGE*/

form{
	margin-left: 5%;
}

#contact{
	margin-left: 5%;
	width: 90%;
}

#contact p{
	font-size: 1em;
}

/*FONTS*/
@font-face{
	font-family: "blackjack";
	src: url("../WebPortfolio_Johnson/_assets/_fonts/black_jack.ttf");
	font-family: "pacifico";
	src: url("../WebPortfolio_Johnson/_assets/_fonts/pacifico.ttf");
}